*{margin: 0; padding: 0;border: 0;}
.top{ width: 100%;
img{width: 100%; max-height: 100%; vertical-align: middle}
}//width: 100%; ��Ȳ�Ҫ���ó�max-width: 100%; ��Ȼƽ�̹�ȥ�����������ͼƬ�ߴ��ֹͣ��
.contain{ width: 1100px; margin: 90px auto;
	.notice{ width: 250px;height: 67px;
		.right{ width: 130px;float: right; height: 65px;border-bottom: 2px solid #4a668f; line-height: 65px; text-indent: 25px;font-size: 16px;}

	}
	p{ width: 984px; margin: 30px auto; font-size: 14px; letter-spacing: 1px; text-indent: 28px;}
	.module{ width: 1054px; height: 151px; margin: 100px auto;
	.left{float: left;

		a{ line-height: 30px;}
	p{ width: 647px; font-size: 14px;}
	}
.right{float: right;
	.kuang{ width: 201px; height: 132px; overflow: hidden;
		img{
			transition:all 0.3s ease-in-out;
			-moz-transition:all 0.3s ease-in-out; /* Firefox 4 */
			-webkit-transition:all 0.3s ease-in-out; /* Safari and Chrome */
			-o-transition:all 0.3s ease-in-out; /* Opera */}
		img:hover{transform: scale(1.05);}
	}
}
	}
}
